$text: white;

$dark-blue: rgb(0, 0, 40);

$blue-dark: rgb(0, 0, 60);
$blue-ligth: rgb(63, 75, 225);
$blue-aqua: rgb(63, 145, 255);

$orange: rgb(250, 195, 20);

$dark-blue-opacity: rgba(20, 21, 43, 0.5);
$blue-opacity: rgba(20, 21, 100, 0.7);
