@import "@/styles/sass/colors";

.Tabs {
  display: flex;
  padding-top: 6rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &-links {
    width: 80%;
    display: flex;
    list-style: none;
    color: rgb(169, 172, 199);
    border-bottom: 1px solid rgb(169, 172, 199);
    &-link {
      position: relative;
      padding: 1rem;
      cursor: pointer;
    }
  }

  &-profile {
    display: flex;
    color: white;
    margin-top: 2rem;
    align-items: center;

    &-content {
      margin-left: 2rem;
      &-username {
        display: flex;
        max-width: 200px;
        align-items: center;
        &-rename {
          width: 80%;
          color: white;
          font-size: 1rem;
          padding: 0.5rem;
          font-weight: bold;
          border-radius: 0.2rem;
          background-color: rgba(130, 155, 255, 0.63);
        }
      }
      &-email {
        color: rgb(201, 201, 201);
      }
    }

    &-img {
      width: 8rem;
    }
  }

  &-content {
    width: 100%;
    color: white;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &-movies {
      gap: 1rem;
      width: 100%;
      display: grid;
      padding: 1rem;
      margin-top: 1rem;
      max-height: 78vh;
      overflow-y: auto;
      justify-items: center;
      grid-template-columns: repeat(5, 1fr);

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        padding: 2px;
        border-radius: 2px;
        background-color: #3f4be1;
      }
    }

    h2 {
      font-weight: bold;
    }
    p {
      color: rgb(169, 172, 199);
    }
    &-container {
      width: 80%;
      display: flex;
    }
  }
}

@media screen and (max-width: 1440px) {
  .Tabs {
    &-content {
      &-movies {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Tabs {
    &-content {
      &-movies {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .Tabs {
    &-content {
      &-movies {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

.link-active {
  &::before {
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -1px;
    position: absolute;
    background-color: $orange;
  }
}

.content-disable {
  display: none;
}

.content-active {
  display: flex;
}
